<h1>Workouts</h1>
<div>
  <% if @workouts.nil? %>
    <%= link_to "Start Workout", new_workout_path, class: "btn btn-md btn-success" %>
  <% else %>
    <% @workouts.each do |workout| %>
      <h4><%= link_to workout.date, workout %></h4>
      <% unless workout.location == nil %>
        <p>You workout out at <%= workout.location %><p>
      <% end %>
    <% end %>
    <%= link_to "Start Workout", new_workout_path, class: "btn btn-md btn-success" %>
  <% end %>
</div>
