<h1>About Us</h1>
<h3>Congratulations.  You've taken a major step in physical fitness.
  Whether you're new to working out, or your a rock-hard veteran,
  tracking workouts is keep to success.  By tracking your workouts using
  Gains Track, you will rid yourself of the classic pen and paper and employ
  the power of a user-friendly database to track your progress.  And unlike
  that ol' styllus and papyrus, we can get left behind at the gym or ruined
  by a spilled protein shake - we're all digital and all web-based.</h3>
</br>
<h1>Why Gains Track?</h1>
<h3>Perhaps you noticed that there are lots of sites out there offering
  similar services?  Maybe you've even tried them before?  While we can't speak
  for all of them, we can tell you that Gains Track is made with all gym-goers
  in mind.  We've developed a simple, user-friendly interface that will allow
  even the most novice of future gym-rats to get started earning and tracking
  their gains. </h3>
