<h4 class="weight-list"><strong><%= weight.value %> lbs
  <% if weight.bodyfat %>
    and <%= weight.bodyfat %> % BF on:</strong><h4>
  <% else %>
    on:</strong><h4>
  <% end %>
<h6><%= weight.created_at.strftime("%B %d, %Y at %l:%M %p") %></h6>
