body, tr, td, p
{
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 11px;
}

p
{
	padding-bottom: 7px;
}

img
{
	display: block;
}

.summarylabel
{
	padding-left: 10px;
	display: block;
}
.summaryheader
{
	padding-top: 15px;
	color: #51a801;
	font-size: 13px;
    font-weight: bold;
	display: block;
}
.summarylabelindent
{
	padding-left: 20px;
	display: block;
}
.summaryheaderindent
{
	padding-top: 15px;
	padding-left: 10px;
	color: #51a801;
	font-size: 13px;
    font-weight: bold;
	display: block;
}

.button {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #51a801;
	cursor: default;
	text-align: center;
	margin-left: 5px;
	border: 1px solid #ffcc00;
	padding: 1 5px 1px 5px;
}

A.button {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background-color: #51a801;
    text-align: center; 
    cursor: default;
    height:20px;
    margin-left: 5px;
    border: 1px solid #ffcc00;
    padding: 1 5px 1px 5px;   
}
A.button:hover{
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;0
    text-align: center;
    cursor: default;
    height:20px;
    margin-left: 5px;
    border: 1px solid #ffcc00;
    padding: 1 5px 1px 5px; 
}

.searchRadioButtons label {
    font-family: Arial;
    font-size: 11px;
}

.label 
{
	display: inline;	
}

.labelblue
{
	font-family: arial;
	font-size: 11px;
	color:#0000ff;
	padding-top: 15px;
	font-weight: bold;
}
input
{
	vertical-align:middle;
	font-family: arial;
	font-size: 11px;
	color:#000000;
	padding-top:0px;
	padding-bottom:0px;
	}
 .input	{	
	
	font-family: arial;
	font-size: 11px;
	color:#000000;
	}
.inputSmall	{	
	
	font-family: arial;
	font-size: 11px;
	color:#000000;
	}
.inputtiny	{	
	
	font-family: arial;
	font-size: 11px;
	color:#000000;
	}
	
.inputColor	{	
	background-color : #FCFC8F;}	
	
.inputDate	{	
	
	font-family: arial;
	font-size: 11px;
	color:#000000;
	}
.inputPhone	{	
	
	font-family: arial;
	font-size: 11px;
	color:#000000;
	}
.zip{
    
	font-family: arial;
	font-size: 11px;
	color:#000000;
	}
.inputbig{	
	
	font-family: arial;
	font-size: 11px;
	color:#000000;
	}
.inputlarge{	
	
	font-family: arial;
	font-size: 11px;
	color:#000000;
	}
textarea{	
	font-family: Arial;
	font-size: 11px;
	color:#000000;
	OVERFLOW-Y: scroll; 
	SCROLLBAR-FACE-COLOR: #99cc33; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ccff99; 
	OVERFLOW: auto; 
	SCROLLBAR-SHADOW-COLOR: #ccff99; 
	SCROLLBAR-3DLIGHT-COLOR: #004493; 
	SCROLLBAR-ARROW-COLOR: #336600; 
	SCROLLBAR-DARKSHADOW-COLOR: #336600; 
	SCROLLBAR-BASE-COLOR: #99cc33; 
	scrollbar-width: 10px; }

.FormField
{
	font-family:Tahoma;
	font-size:9pt;
}

.top_nav
{
	background-image: url(../images/top_nav_bg.gif);
	font-size: 11px;
	color: #999999;
	text-align:right;
}

.top_nav a
{
	color: #999999;	
	text-decoration: none;
}

.top_nav a:visited
{
	color: #999999;	
}

.top_nav a:hover
{
	text-decoration: underline;
}

.top_nav a.selected, .top_nav a:visited.selected
{
	color: #023882;
}

.tab
{
	font-size: 13px;
	padding-top: 8px;
	font-weight: bold;
}

.tab_selected
{
	font-size: 13px;
	padding-top: 8px;
	font-weight: bold;
	background-image: url(../images/tab_selected_bg.gif);
	background-repeat: repeat-x;
	background-position: 0 100%;
}

.tab_unselected
{
	font-size: 13px;
	padding-top: 8px;
	font-weight: bold;
	background-image: url(../images/tab_unselected_bg.gif);
	background-repeat: repeat-x;
	background-position: 0 100%;
}

.tab_selected a, .tab_unselected a
{
	color: #ffffff;
	text-decoration: none;
	margin-bottom: 5px;
}

.emergency
{
	padding-bottom: 5px;
	font-size: 12px;
	background-image: url(../images/tab_row_bg.gif);
	background-repeat: repeat-x;
	background-position: 0 100%;
}

.nav_row
{
	background-image: url(../images/nav_bg.gif);
	color: #ffffff;
	font-size: 12px;
}

.nav_row a, .nav_row td
{
	color: #ffffff;
	text-decoration: none;
	white-space: nowrap;
}

.nav_row a:visited
{
	color: #ffffff;
}

.nav_row a:hover
{
	color: #ffffff;
	text-decoration: underline;
}

.home_blurb_title
{
	color: #ffffff;
	font-weight: bold;
	background-image: url(../images/home_blurb_title_bg.gif);
}

.home_blurb_content
{
	height: 94px;
	background-image: url(../images/home_blurb_bg.gif);
}

.home_sidebar
{
	width: 169px;
	height: 123px;
	cursor: hand;
}

.home_sidebar a
{
	cursor: hand;
}

.primary_nav
{
	padding: 3px 2px 3px 2px;
	color: #000000;
	BackColor: #e9e9e9;
    ForeColor: #000000;
	border-left: solid 1px #999999;
	border-right: solid 1px #999999;
}

.secondary_nav
{
	padding: 3px 2px 3px 2px;
	color: #000000;
	background-color: #e9e9e9;
	border-left: solid 1px #999999;
	border-right: solid 1px #999999;
}
.secondary_nav a
{
	color: #000000;
	text-decoration: none;
	padding: 5px 0;
}

.secondary_nav a:hover
{
	color: #000000;
	text-decoration: underline;
}

.content_bg
{
	background-image: url(../images/page_bg.gif);
}

.interior_content
{
	background-image: url(../images/interior_content_bg.gif);
}

.content p,
.body p
{
	padding: 0 0 14px 0;
}

div.content td { padding: 3px; }
.body td { padding: 3px; }

.content a
{
	color: #4ea700;
	text-decoration: none;
}

.content a:hover
{
	text-decoration: underline;
}

.interior_content a
{
	color: #4ea700;
	text-decoration: none;
}

.interior_content a:hover
{
	text-decoration: underline;
}

.title
{
	padding: 0 0 4px 0;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	display: block;
}

.stepBar
{
	padding: 0 0 10px 0;
	color: #999999;
	font-size: 10px;
	display: block;
	white-space: nowrap;
}

.stepBar b
{
	color: #006699;
}

.stepBarSelected
{
	color: #898989;	
}
.stepBarSelected
{
	padding: 0 0 0 0;
	color: #093D88;
	font-weight: bold;
	font-size: 11px;
	display: block;
	border: 1px solid #aaccaa;
}

.subtitle, .bodyhdr
{
	padding: 0;
	color: #51a801;
	font-size: 13px;
        font-weight: bold;
	display: block;
}

.serviceType
{
	display: inline;
	color: #51a801;
	font-size: 13px;
        font-weight: bold;
}
.hdrMessage
{
	padding: 0;
	color: #51a801;
	font-size: 13px;
        font-weight: bold;
	display: inline;
}


.header
{
	padding: 0;
	margin:0;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	display: block;
}

.txtbold {
    font-family: Arial; 
    font-size: 11px; 
    color: #000000;
    font-weight: bold;
  }  

.asterisk {
    font-family: Arial; 
    font-size: 8px; 
    color: #FF0000;
  } 

.errortext {  font-family: Arial, Helvetica, sans-serif; color: #ff0000;}
.floatleft { float: left; padding: 4px;}
.floatright { float: right; padding: 4px;}
.formTable { background: #fafffa; width: 100%; border: 1px solid #aaccaa; }
.formDiv { background: #fafffa; width: auto; border: 1px solid #aaccaa; padding: 3px; margin: 0 0 10px 0;}
.formSectionHeader { font-weight: bold; padding-left: 5px; margin: 0 0 10px 0;}
.formLabelRequired { font-family: Arial; font-size: 11px; font-weight: bold; white-space: nowrap;}

.formLabel { font-family: Arial; font-size: 11px; font-weight: normal; white-space: nowrap;}
.sidebutton {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #ffffff; background-color: #99cc33; text-align:center; }
.tablemain { background-color:#ffffff; border: solid 1px #e9e9e9; width:100%; text-align:left;}
.tablehighlight { background-color:#e9e9e9; border-style:solid; border-width:1px; border-color:#000000; }
.siteMap { padding-bottom: 25px; }


.footer_bar
{
	background-image: url(../images/footer_bg.gif);
}
.footer, .footer a
{
	color: #999999;
}


/* BEGIN Northridge Content Management Styles */
.ContentSlotViewer
{
	width:100%;
	visibility: visible;
	position:relative;
	z-index: 0;
}

.ContentSlotViewerEdit
{
	width:100%;
	position:relative;
	z-index: 1000;
	background-color:#ffffff;
}


* html .ContentSlotViewer
{
	height: 1px;
}

.ContentSlotViewerSelectionOverlay
{
	background-color:#DDECFE;
	filter: Alpha(opacity=30);
	border:solid 1px #3B619C;
	display:block;
	width:1px;
	left:0px;
	top:0px;
	position:absolute;
	z-index:1000;
	visibility:hidden;
	cursor:pointer;
	cursor:hand;
}

.ToolBarTable
{
	width:100%;
	top:0px;
	left:0px;
	z-index:1001;
	position:absolute;
	visibility:hidden;
}


.ToolBarArea
{
	border: 1px solid #3B619C;
	border-width: 0 1px;
	text-align: left;
	cursor:pointer;
	cursor:hand;
	height:24px;
	z-index:1005;
	visibility:hidden;
}

.HeaderBar
{
	 background:#3B619C;
}

.HeaderBarText
{
	 font-family:Tahoma;
	 color:White;
	 font-weight:bold
}

.ToolbarNormal
{
	font-family:Tahoma;
	font-size:8pt;
	border:none;
	background:none;
	padding:1px 1px 1px 1px;
	line-height:26px;
}
.ToolbarOver
{
	font-family:Tahoma;
	font-size:8pt;
	cursor:pointer;
	cursor:hand;
	border:solid 1px #000000;
	padding:0px 0px 0px 0px;
	background:#6791C9;
}
.ToolbarText, .ToolbarText a
{
	font-family:Tahoma;
	font-size:8pt;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
}
.ToolbarLink, .ToolbarLinkIcon
{
	color:#000000;
	text-decoration:none;
	display: block;
	width: 100%;
	height: 24px;
	padding-top: 5px;
}
.ToolbarLink:hover, .ToolbarLinkIcon:hover
{
	color:#000000;
	text-decoration:none;
}
.ToolbarLinkIcon
{
	height: 16px;
	width: 16px;
}
.clsMandatory
{
	color:#ff0000;
}
/* END Northridge Content Management Styles */


