<h4><%= @exercise.name %></h4>
<div>
  <%= render partial: "sets/set", collection: @sets %>
  <%= render partial: "sets/form" %>
</div>
<div>
  <%= link_to "Finish Exercise", @exercise.workout, class: "btn btn-md btn-success" %>
</div>
